@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-5">Welcome To Your Personalized Movie Collection App</h1>
        <a  class ="btn btn-info btn-lg" asp-page="/Movies/Index">Check it out</a>
    </div>
